*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(img/sun.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    background: black;
    color: white;
    font-size: 50px;
    text-align: center;
}
#Portfolio{
    border-style: solid;
    border-color: transparent;
    color: white;
    width:450px ;
    display: block;
    background: rgb(143, 134, 134);
    text-align: center;
    margin: auto ;
    margin-top: 100px ;
    height: 400px;
}
#img{
    width: 50px;
    height: 50px;
    margin-left: 35px;
}
#sub{
    width: 280px;
    margin-top: -1px;
    letter-spacing: 10px;
    margin-left: 732px;
    width: 456px;
    background: rgb(143, 134, 134);
}
img{
    width: 300px;
    height: 250px;
    border: solid transparent;
    border-radius:1000%;
}
a{
    text-decoration: none;
    color: blue;
}