*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Seagram';
    src: url('font/Seagram\ tfb.ttf') format('opentype');
}
body{
    background: rgb(43, 41, 41);
}
/* Header */
#Header{
    color: white;
    background: linear-gradient(black,red,red,black);
    height: 50px; 
    font-family: 'Seagram';
}
p{
    color: white;
}
#sub-header{
    line-height: 50px;
}
#sub-header > a:hover{
    color: rgb(2, 2, 5);
}
a{
    text-decoration: none;
    color: rgb(236, 239, 248);
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
#ico > img{
    float: right;
    border-radius: 50%;
    border: 2px solid transparent;
    display: block;
}
/* Vídeo */
iframe{
    width: 1170px;
    height: 500px;
    display: block;
    margin: auto 100px;
}
/* Chat */
#chat{
    background: rgb(43, 41, 41);
    background-size: 500px;
    background-attachment: fixed;
    float: right;
    text-align: center;
    color: white;
    margin-top:-500px ;
    display: block;
    width: 217px;
    height: 575px;
}
/* A parte de baixo do chat */
#chat2{
    font-size: 20px;
    color: white;
    margin-top: -70px;
    display: block;
    width: 217px;
    height: 100px;
    margin-left: 1380px;
}
textarea{
    resize: none;
    background: rgb(78, 76, 76);
    color: white;
    margin-top: 50px;
    height: 20px;
    width: 210px;
}
#enter{
    background: purple;
    color: white;
    width: 70px;
    margin-left: 140px;
    display: block;
    margin-top: 5px;
    border-color: transparent;
}
#favi{
    border-radius: 50%;
    width: 30px;
    margin-top: 5px;
    height: 30px;
    display: block;
    float: left;
    background: rgb(128, 234, 238);
}
#chat > h1{
    background: red;
    color: white;
    font-size: 20px;
    height: 50px;
}
#play{
    color:rgb(255, 68, 105);
    text-align: left;
    font-size: 18px;
}
#play2{
    color:rgb(73, 73, 255);
    text-align: left;
    font-size: 18px;
}
#play3{
    color:rgb(57, 218, 57);
    text-align: left;
    font-size: 18px;
}
#play4{
    color:rgb(207, 207, 8);
    text-align: left;
    font-size: 18px;
}
#play5{
    color:rgb(169, 219, 223);
    text-align: left;
    font-size: 18px;
}
#play6{
    color:rgb(240, 126, 240);
    text-align: left;
    font-size: 18px;
}
#play7{
    color:rgb(207, 15, 207);
    text-align: left;
    font-size: 18px;
}
#play8{
    color:springgreen;
    text-align: left;
    font-size: 18px;
}
#play9{
    color:rgb(68, 219, 219);
    text-align: left;
    font-size: 18px;
}
#play10{
    color:burlywood;
    text-align: left;
    font-size: 18px;
}
span{
    padding: 1px;
    color: white;
}
/* Barra de canais */
.You{
    padding: 10px;
    float: left;
    display: block;
    margin-left: -80px;
    background: rgb(43, 41, 41);
    width: 200px;
    height: 610px;
}
#Cimg{
    display: table-cell;
    padding: 5px;
    background: transparent;
    border-radius: 50%;
    margin-top: -30px;
}
.You  > h1{
    color: white;
    font-size: 20px;
}
#Ch4{
    display: table-cell;
    float: right;
    margin-top: -55px;
    margin-right: 65px;
    font-size: 17px;
    color: white;
}
#Cp{
    display: table-cell;
    float: right;
    font-size: 17px;
    margin-top: -35px;
    margin-right: 85px;
}
#bola{
    border-style: solid;
    border-color: red;
    width: 4px;
    height: 4px;
    margin: auto;
    border-radius: 50%;
    background: red;
    color: white;
    display: table-cell;
    float: right;
    margin-top: -48px;
    margin-right: 55px; 
}
#Pbola{
    padding: 10px;
    margin-top: -18px;
    font-size: 20px;
    margin-left: 3px;
}
/* Parte de baixo do vídeo */
#Gema1{
    border-style: solid;
    border-color: transparent;
    height: 170px;
    width: 1000px;
    display: block;
    float: left;
    background: rgb(43, 41, 41);
}
#Gema{
    width: 100px; 
    border-radius: 50%; 
    margin-left: 20px;
    margin-top: 5px;
    border-style: solid;
    border-color:  purple;
}
#Gema1 > h1{
    color: white;
    float: right;
    width: 850px;
    margin-top: -120px;
}
#Gema1 > p{
    color: white;
    float: right;
    width: 850px;
    margin-top: -85px;
}
.sub-título{
    float: right;
    line-height: 20px;
    margin-top: -50px;
    margin-right: 260px;
}
.sub-título > a{
    text-decoration: none;
    font-size: 15px;
    margin: 0 10px;
    color: white;
    border-style: solid;
    border-color: rgb(77, 75, 75);
    background: rgb(77, 75, 75);
    border-radius: 50px 50px;
    border-width: 2px;
}
.sub-título > a:hover{
    border-style: solid;
    background: rgb(129, 125, 125);
    border-color: rgb(129, 125, 125);
}
#btn{
    float: right;
    margin-top: -100px; 
    background: transparent;
    border: solid transparent;
    margin-right: 30px;
    width: 95px;
    border-style: solid;
    border-color: rebeccapurple;
    background: rebeccapurple;
}
#btn > img{
    border-radius: 50%;
    width: 20px;
    margin-top: -1px;
    display: block;
    margin-left: 10px;
    background: white;
}
#btn > p{
    margin-left: 20px;
    font-size: 15px;
    margin-top: -19px;
}
#btn:hover{
    background: rgb(115, 78, 151);
    border-style: solid;
    border-color: rgb(115, 78, 151);
}
#people{
    border-style: solid;
    border-color: transparent;
    width: 250px;
    height: 50px;
    margin-left: 720px;
    margin-top: -50px;
}
#people > img{
    background: transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 11px;
    height: 30px;
    background:red;
}
#people > p{
    margin-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -40px;
    color: rgb(128, 18, 18);
}
#live{
    color: rgb(237, 238, 157);
    margin-left: 32px;
    border-style: solid;
    background: rebeccapurple;
    margin-top: -10px;
    border-color: rebeccapurple;
    width: 80px;
    border-radius: 50px 50px ;
    text-align: center;
}