*{
    margin: 0;
    padding: 0;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-color: rgb(0, 0, 0);
}
#Header{
    color: white;
    background: rgb(185, 221, 84);
    height: 50px;
}
p{
    color: white;
}
#sub-header{
    line-height: 50px;
}
#sub-header > a:hover{
    color: rgb(78, 78, 241);
}
a{
    text-decoration: none;
    color: rgb(236, 239, 248);
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
#ico > img{
    float: right;
    border-radius: 50%;
    border: 2px solid transparent;
    display: block;
}
iframe{
    width: 980px;
    height: 500px;
    display: block;
    margin: auto 100px;
}
#chat{
    background: rgb(0, 0, 0);
    background-size: 500px;
    background-attachment: fixed;
    float: right;
    text-align: center;
    color: white;
    margin-top:-500px ;
    display: block;
    width: 217px;
    height: 575px;
}
#chat2{
    font-size: 20px;
    color: white;
    border-color: black;
    margin-top: 70px;
    display: block;
    width: 217px;
    height: 100px;
    margin-left: 1240px;
}
textarea{
    resize: none;
    background: rgb(78, 76, 76);
    color: white;
    height: 100px;
    width: 217px;
}
#chat > h1{
    background: rgb(212, 42, 42);
    color: white;
    font-size: 20px;
    height: 50px;
}  
.You{
    padding: 10px;
    float: left;
    display: block;
    margin-left: -70px;
    background: transparent;
    border-style: solid;
    border-color: rgb(255, 38, 0);
    width: 200px;
    height: 620px;
}
.You > img{
    display: table-cell;
    padding: 10px;
    background: transparent;
    border-radius: 50%;
}
.You > h1{
    color: white;
    font-size: 20px;
}
.You > h4{
    display: table-cell;
    float: right;
    margin-top: -55px;
    margin-right: 65px;
    font-size: 20px;
    color: white;
}
.You > p{
    display: table-cell;
    float: right;
    margin-top: -35px;
    margin-right: 85px;
}
#bola{
    border-style: solid;
    border-color: red;
    width: 4px;
    height: 4px;
    margin: auto;
    border-radius: 50%;
    background: red;
    color: white;
    display: table-cell;
    float: right;
    margin-top: -48px;
    margin-right: 38px;
}
#bola > p{
    padding: 10px;
    margin-top: -16px;
}
#play{
    color:rgb(255, 68, 105);
    text-align: left;
    font-size: 18px;
}
#play2{
    color:rgb(73, 73, 255);
    text-align: left;
    font-size: 18px;
}
#play3{
    color:rgb(57, 218, 57);
    text-align: left;
    font-size: 18px;
}
#play4{
    color:rgb(207, 207, 8);
    text-align: left;
    font-size: 18px;
}
#play5{
    color:rgb(63, 61, 61);
    text-align: left;
    font-size: 18px;
}
#play6{
    color:rgb(240, 126, 240);
    text-align: left;
    font-size: 18px;
}
#play7{
    color:rgb(207, 15, 207);
    text-align: left;
    font-size: 18px;
}
#play8{
    color:springgreen;
    text-align: left;
    font-size: 18px;
}
#play9{
    color:rgb(68, 219, 219);
    text-align: left;
    font-size: 18px;
}
#play10{
    color:burlywood;
    text-align: left;
    font-size: 18px;
}
span{
    padding: 1px;
    color: white;
}