*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
#Header{
    color: white;
    background: rgb(185, 221, 84);
    height: 50px;
}

#sub-header{
    line-height: 50px;
}
#sub-header > a:hover{
    color: rgb(78, 78, 241);
}
a{
    text-decoration: none;
    color: rgb(236, 239, 248);
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
#ico > img{
    float: right;
    border-radius: 50%;
    border: 2px solid transparent;
    display: block;
}
iframe{
    width: 997px;
    height: 500px;
    display: block;
    margin: auto 100px;
}
#chat{
    background: white;
    float: right;
    text-align: center;
    color: black;
    margin-top:-500px ;
    display: block;
    width: 217px;
    height: 650px;
}
.You{
    padding: 10px;
    float: left;
    display: block;
    margin-left: -70px;
    background: transparent;
    border-style: solid;
    border-color: tomato;
    width: 200px;
    height: 620px;
}
.You > img{
    display: block;
    padding: 10px;
    background: transparent;
    border-radius: 50%;
}